/* .App {
  font-family: sans-serif;
  text-align: center;
} */

.backgoundbody {
  background-color: rgba(256,192,0,0.4);
  background-image:
    linear-gradient(90deg, 
      rgba(255,255,255,0.5) 0%,
      rgba(255,255,255,0.5) 10%,
      rgba(255,255,255,0) 10%,
      rgba(255,255,255,0) 20%,
      rgba(255,255,255,0.5) 20%,
      rgba(255,255,255,0.5) 30%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0.5) 40%,
      rgba(255,255,255,0.5) 50%,
      rgba(255,255,255,0) 50%,
      rgba(255,255,255,0) 60%,
      rgba(255,255,255,0.5) 60%,
      rgba(255,255,255,0.5) 70%,
      rgba(255,255,255,0) 70%,
      rgba(255,255,255,0) 80%,
      rgba(255,255,255,0.5) 80%,
      rgba(255,255,255,0.5) 90%,
      rgba(255,255,255,0) 90%,
      rgba(255,255,255,0) 100%
    ),
    linear-gradient(0, 
      rgba(255,255,255,0.5) 0%,
      rgba(255,255,255,0.5) 10%,
      rgba(255,255,255,0) 10%,
      rgba(255,255,255,0) 20%,
      rgba(255,255,255,0.5) 20%,
      rgba(255,255,255,0.5) 30%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0.5) 40%,
      rgba(255,255,255,0.5) 50%,
      rgba(255,255,255,0) 50%,
      rgba(255,255,255,0) 60%,
      rgba(255,255,255,0.5) 60%,
      rgba(255,255,255,0.5) 70%,
      rgba(255,255,255,0) 70%,
      rgba(255,255,255,0) 80%,
      rgba(255,255,255,0.5) 80%,
      rgba(255,255,255,0.5) 90%,
      rgba(255,255,255,0) 90%,
      rgba(255,255,255,0) 100%
    );
  background-size: 20em 20em;
  background-position: 50% 50%;
}